  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>新着作品
                </h2>
              </header>
              <ul class="thumbnails thumbnail--movies row grid4 js-lazy-load-images js-my-check-stats" id="list-module">
                <% @products.each do |product| %>
                  <li class="col">
                    <a href="/products/<%= product.id %>"><div class="thumbnail__figure" style="background-image:url(<%= product.image_url %>)"></div></a>
                    <div class="thumbnail__caption">
                      <h3 class="text-xsmall text-overflow" title="<%= product.title %>">
                        <%= product.title %>
                        <!-- eachメソッドよりproductsデーブルから取り出したtitleカラムの中身を出力する。 -->
                      </h3>
                      <p class="text-small">
                      <% if product.reviews.present? %>
                        <!-- presentはもしレシーバの中身が存在しているならtrue
                        存在していなければfalseを返すメソッドである。
                        上記の場合だとproduct.reviews(対応した映画にレビューがもし存在しているならtrue,存在していないならfalseを返す。
                        ) -->
                        <span class="rating-star">
                          <i class="star-actived rate-<%= product.review_average %>0"></i>
                          <!-- review_averageメソッド(product.rb)を呼び出している。
                          上記の場合だとproduct.reviews(対応した映画のレビュー)のrateカラムの値の平均を出しその値を四捨五入している。
                          そしてhtmlで星マークとして表示している。 -->
                        </span>
                      <% else %>
                      <!-- もし対応する映画にレビューが書いていなかったとき -->
                        <span class="rating-star">
                        <i class="star-actived rate-0"></i>
                        </span>
                      <% end %>
                      </p>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
        <div id="yjSub">